extends header

block content
	#head
		#logo
		
		p
			a#tab-add(rel='leanModal' name='createtab' title='Create new tab' href='#createtab')
				i.fa.fa-plus-circle
				|Create
			a(href='http://intra/en')
				|Intranet
			a(href='http://www.mpib-berlin.mpg.de')
				|Max Planck Institut for Human Development
			a(title='Write a email' href='mailto:lipsupport@mpib-berlin.mpg.de')
				|LIP Support
			a#reload(title='Reload grid' href='#reload')
				i.fa.fa-refresh
			a#note-add(rel='leanModal' name='note' href='#note')
		
		.TTWForm-container#createtab
			#createtab-header
				h2 Create new Tab
				a.modal_close(href='#' title='Close')
					i.fa.fa-times.fa-lg
			form.TTWForm(action='/api/upload' method='post' enctype='multipart/form-data')
				#field8-container.field.f_100
					label
						|Address (required):
					input#field8(type='url' name='tabTextUrl' title='Address' required='required' placeholder='http://')
				#field2-container.field.f_100
					label
						|Name (optional):
					input#field2(type='text' name='tabTextName' title='Name' placeholder='Name')
					input#field2(type='hidden' name='upload')
				#form-submit.field.f_100.clearfix.submit
					#loading
					input(type='submit')
					i#submit.fa.fa-upload.fa-2x(title='Upload')

	.status#note
		p.message
		span
		a.modal_close(href='#' title='Close')
			i.fa.fa-times.fa-lg

	if grid.length != 0
		ul#grid
			each tabs, i in grid
				each item, j in tabs
					li.tabs
						form.TABForm(action='/api/option' method='post' enctype='multipart/form-data')
							div
								a(href=item.url title=item.title)
									if item.icon
										img.icon(src=item.icon)
									img.pic(src=item.img)
									h5= item.name
									input(type='hidden' name=j value=item.name)
								i.btn-edit.fa.fa-edit(title='Edit tab')
								i.btn-del.fa.fa-times(title='Delete tab')
	else
		p.no-data
			if grid.length == 0
				i.fa.fa-exclamation-circle
				|No data available!

	#foot
		p STEPHAN WEGNER 2014
