extends header

block content
	#head
		#logo
		
		ul.fa-ul
			li
				a(href='http://intra/en')
					|Intranet
			li
				a(href='http://www.mpib-berlin.mpg.de')
					|Max Planck Institut for Human Development
			li
				a(title='Write a email' href='mailto:lipsupport@mpib-berlin.mpg.de')
					i.fa.fa-envelope
			li
				a#reload(title='Reload grid' href='#reload')
					i.fa.fa-refresh
				a#note-add(rel='leanModal' name='note' href='#note')
		
	if grid.length != 0
		ul#grid(data-length=grid.length)
			each item, i in grid
				li.tabs
					form.TABForm(action='/api/option' method='post' enctype='multipart/form-data')
						div
							a(href=item.url title=item.title?item.title:item.name)
								if item.icon
									img.icon(src=item.icon)
								img.pic(src=item.img)
								h5= item.name
								input(type='hidden' name='tabId' value=item.tab)
	else
		p.no-data
			if grid.length == 0
				i.fa.fa-exclamation-circle.fa-fw
				|No data available!

	#foot
		p STEPHAN WEGNER 2014
