extends header

block content

	if grid.length != 0
		ul#grid(data-length=grid.length)
			each item, i in grid
				li.tabs
					form.TABForm(action='/api/remove' method='post' enctype='multipart/form-data')
						div
							a(href=item.url title=item.title?item.title:item.name)
								if item.icon
									img.icon(src=item.icon)
								img.pic(src='uploads/' + item.tab+'.png' onerror='this.onerror=null;this.src="images/bg.png"')
								h5= item.name
								input(type='hidden' name='tabId' value=item.tab)
							if user
								i.btn-edit.fa.fa-pencil(title='Edit tab')
								i.btn-del.fa.fa-times(title='Delete tab')
	else
		if grid.length == 0
			p.no-data
				i.fa.fa-exclamation-circle.fa-fw
				|No data available!

	#foot
		p STEPHAN WEGNER 2014
