extends includes/header

block content

	include includes/message

	if grid && grid != 0
		mixin tabs(id, url, title, icon, name, check, j)
			if !check
				li.tabs(data-item=j)
					form.tab-form(action='/deletetab' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
						div
							a(href=url title=title?title:name)
								div.img-container
									img.pic(src='uploads/' + id+'.png')
								img.icon(src=icon)
								.name= name
								input(type='hidden' name='id' value=id data-check='unchecked')
							if user
								a(href='/updatetab/?id='+id+'&url='+url+'&name='+name)
									i.btn-edit.fa.fa-pencil(title='Edit tab')
								button.btn-del
									i.fa.fa-times(title='Remove tab')

		ul#grid(data-length=grid.length)
			each item, j in grid
				+tabs(item._id, item.url, item.title, item.icon, item.name, item.check, j)

	include includes/foot
