extends header

block content
	#head
		#logo
		
		p
			a#tab-add(rel='leanModal' name='createtab' href='#createtab')
				|+
			a(href='http://intra/en')
				|Intranet
			a(href='http://www.mpib-berlin.mpg.de')
				|Max Planck Institut for Human Development
			a(href='mailto:lipsupport@mpib-berlin.mpg.de')
				|LIP Support


	p.message
		if error
			= error
		
		.TTWForm-container#createtab
			#createtab-header
				h2 Create new Tab
				a.modal_close(href='#')
			form.TTWForm(action='/api/upload' method='post' enctype='multipart/form-data')
				
				#field8-container.field.f_100
					label Address (required):
					input#field8(type='url' name='tabTextUrl' title='Address' required='required' placeholder='http://')
				
				#field2-container.field.f_100
					label Name (optional):
					input#field2(type='text' name='tabTextName' title='Name' placeholder='Name')
					
				#form-submit.field.f_100.clearfix.submit
					#loading
					input(type='submit' value='Upload')

	ul#grid
		if grid.length == 0
			span No data available!
		else
			each tabs, i in grid
				each item, j in tabs
					li.tabs
						form.TABForm(action='/api/option' method='post' enctype='multipart/form-data')
							div
								a(href=item.url title=item.name)
									img.pic(src=item.img width='144' height='81')
									h5= item.name
									input(type='hidden' name=j value=item.name)
								img.btn-edit(src='images/edit-16-888.ico')
								img.btn-del(src='images/delete-16-888.ico')

	#foot
		p STEPHAN WEGNER 2014
