extends header

block content

	if grid.length != 0
		ul#grid(data-length=grid.length)
			each item, j in grid
				li.tabs(data-item=j)
					form.TABForm(action='/remove' method='post' enctype='multipart/form-data')
						div
							a(href=item.url title=item.title?item.title:item.name)
								if item.icon
									img.icon(src=item.icon)
								div.img-container
									if item.icon
										img.pic(src='uploads/' + item._id+'.png')
								h5= item.name
								input(type='hidden' name='tabId' value=item._id)
							if user
								i.btn-edit.fa.fa-pencil(title='Edit tab')
								i.btn-del.fa.fa-times(title='Delete tab')
	else
		p.no-data
			i.fa.fa-exclamation-circle.fa-fw
			|No data available!

	#foot
		p
			a(name='github' title='Github' href='https://github.com/valenz/tabgrid')
				i.fa.fa-github
				|tabgrid 2014
