extends ../includes/header

block content

  include ../includes/message

  div.log-wrapper
    table.line-wrapper
      tr
        th| Line
        th| Timestamp
        th| Level*
        th| Message
      each line, i in file
        +lines(line.timestamp, line.level, line.message, i)

  mixin lines(timestamp, level, message, i)
    tr
      td
        if i+1 == file.length
          p.log-line
            a(name='tail')= i+1
        else
          p.log-line= i+1
      td
        p.log-timestamp= timestamp
      td
        if level == 'error'
          p.log-level.level-error= level
        else if level == 'warn'
          p.log-level.level-warn= level
        else if level == 'info'
          p.log-level.level-info= level
        else if level == 'verbose'
          p.log-level.level-verbose= level
        else if level == 'debug'
          p.log-level.level-debug= level
        else
          p.log-level= level
      td
        p.log-message= message

  p.lev-no
    | *) The current log level is #{level} and runs in #{env} environment mode.
    | You can make changes in the relevant config file.

  include ../includes/foot
