extends ../includes/header

block content

  include ../includes/message

  div.log-wrapper
    table.line-wrapper
      tr
        th| Line
        th| Timestamp
        th| Level*
        th| Message
      - for(var i = file.length-1; i >= 0; --i) {
        tr
          td
            p.log-line= i + 1
          td
            p.log-timestamp= file[i].timestamp
          td
            if file[i].level == 'error'
              p.log-level.level-error= file[i].level
            else if file[i].level == 'warn'
              p.log-level.level-warn= file[i].level
            else if file[i].level == 'info'
              p.log-level.level-info= file[i].level
            else if file[i].level == 'verbose'
              p.log-level.level-verbose= file[i].level
            else if file[i].level == 'debug'
              p.log-level.level-debug= file[i].level
            else
              p.log-level= file[i].level
          td
            p.log-message= file[i].message
      - }

  p.lev-no
    | *) The current log level is #{level} and runs in #{env} environment mode. You can make changes in the relevant config file.

  include ../includes/foot
