extends ../includes/header

block content

  .container
    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1#settings.anchor.page-header= title
          a.anchorjs-link(href='#settings')
            span.anchorjs-icon
              i.fa.fa-link
          if user
            .btn-group.pull-right
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                = 'Manage '
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Create Tab' href='/settings/tab/create')
                    | Add Tab
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Create Category' href='/settings/category/create')
                    | Add Category
                li.divider
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Create Account' href='/settings/account/create')
                    | Add Account

        .container-fluid.adj
          .panel.panel-settings
            .panel-heading
              h2#adjustments.anchor.panel-title| Adjustments
                a.anchorjs-link(href='#adjustments')
                  span.anchorjs-icon
                    i.fa.fa-link
                .pull-right
                  a#adjReset.btn.btn-xs.btn-default(type='button' data-toggle='tooltip' data-placement='top' data-original-title='Reset Adjustments' style='margin-top: -2px;')
                    i.fa.fa-eraser
            .panel-body.container-fluid
              span= 'Range: '
              b#rangeFac.text-muted
              .row
                .col-md-6
                  | 1.0
                .col-md-6
                  .text-right
                    | 3.0
              input(type='range' min='1' max='3' step='0.01')

          if user
            .panel.panel-settings
              .panel-heading
                h3#tabs.anchor.panel-title= 'Tabs '
                  span= '('+ tabs.length +')'
                  a.anchorjs-link(href='#tabs')
                    span.anchorjs-icon
                      i.fa.fa-link
              .panel-body.container-fluid
                - var a = user.username.substr(0, 1).toUpperCase()
                - var b = user.username.substr(1, user.username.length)
                - var usertabs = 0
                - var unassigned = 0
                each item in tabs
                  if item.check
                    - usertabs += 1
                  if !item.category && !item.check
                    - unassigned += 1
                if tabs.length
                  .progress
                    .progress-bar(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= (tabs.length-usertabs-unassigned)+' / '+tabs.length style='width:'+(tabs.length-usertabs-unassigned)/tabs.length*100+'%;')
                      = 'Public'.substr(0, Math.floor((tabs.length-usertabs-unassigned)/tabs.length*100+usertabs-unassigned/tabs.length*100*1/3))
                    .progress-bar.progress-bar-warning(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= usertabs+' / '+tabs.length style='width:'+usertabs/tabs.length*100+'%;')
                      = a+b+"'s Grid".substr(0, Math.floor(usertabs/tabs.length*100+usertabs/tabs.length*100*1/3))
                    .progress-bar.progress-bar-danger(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= unassigned+' / '+tabs.length style='width:'+unassigned/tabs.length*100+'%;')
                      = 'unassigned'.substr(0, Math.floor(unassigned/tabs.length*100+unassigned/tabs.length*100*1/3))
                each item, j in tabs
                  .btn-group(id= item._id data-item= j)
                    form(role='form' action='/settings/tab/details' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= item._id)
                      button.btn(class= item.check ? 'btn-warning' : !item.category ? 'btn-danger' : 'btn-primary' type='submit' data-toggle='tooltip' data-placement='top' data-original-title= item.check ? a+b+"'s Grid" : !item.category ? 'unassigned' : item.category style='margin: 5px;')
                        if user && user.username == item.whoCreated
                          u= item.name
                        else
                          = item.name

            .panel.panel-settings
              .panel-heading
                h3#categories.anchor.panel-title= 'Categories '
                  span= '('+ cats.length +')'
                  a.anchorjs-link(href='#categories')
                    span.anchorjs-icon
                      i.fa.fa-link
              .panel-body.container-fluid
                if tabs.length
                  .progress
                    - var odd = 0
                    each item, j in cats
                      - odd += item.list.length != 0 ? 1 : 0
                      - var progWidth = item.list.length/tabs.length*100
                      .progress-bar(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= item.list.length+' / '+tabs.length style='width:'+progWidth+'%;' class= odd%2 == 0 ? 'progress-bar-info' : 'progress-bar-default')
                        .text-nowrap= item.name.substr(0, Math.floor(progWidth+progWidth*1/3))
                    .progress-bar.progress-bar-warning(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= usertabs+' / '+tabs.length style='width:'+usertabs/tabs.length*100+'%;')
                      = a+b+"'s Grid".substr(0, Math.floor(usertabs/tabs.length*100+usertabs/tabs.length*100*1/3))
                    .progress-bar.progress-bar-danger(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= unassigned+' / '+tabs.length style='width:'+unassigned/tabs.length*100+'%;')
                      = 'unassigned'.substr(0, Math.floor(unassigned/tabs.length*100+unassigned/tabs.length*100*1/3))
                - var odd = 0
                each item, j in cats
                  - odd += item.list.length != 0 ? 1 : 0
                  .btn-group(id= item._id data-item= j)
                    form(role='form' action='/settings/category/details' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= item._id)
                      button.btn(class= !item.list.length ? 'btn-default' : odd%2 == 0 ? 'btn-info' : 'btn-primary' type='submit' data-toggle='tooltip' data-placement='top' data-original-title= item.list.length+' / '+tabs.length style='margin: 5px;')
                        if user && user.username == item.whoCreated
                          u= item.name
                        else
                          = item.name
                if usertabs
                  a.btn.btn-warning(href='/accounts/'+user.username data-toggle='tooltip' data-placement='top' data-original-title= usertabs+' / '+tabs.length style='margin: 5px;')
                    | #{a+b}'s Grid
                if unassigned
                  a.btn.btn-danger(href='/' data-toggle='tooltip' data-placement='top' data-original-title= unassigned+' / '+tabs.length style='margin: 5px;')
                    | unassigned

            .panel.panel-settings
              .panel-heading
                h3#accounts.anchor.panel-title= 'Accounts '
                  span= '('+ accs.length +')'
                  a.anchorjs-link(href='#accounts')
                    span.anchorjs-icon
                      i.fa.fa-link
              .panel-body.container-fluid
                each item, j in accs
                  .btn-group(id= item._id data-item= j)
                    form(role='form' action='/settings/account/details' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= item._id)
                      button.btn(class= user && item._id == user.id ? 'btn-primary' : 'btn-default' type='submit' data-toggle='tooltip' data-placement='top' data-original-title= item.username style='margin: 5px;')
                        if user && item._id == user.id
                          u= user.username
                        else
                          = item.username

      .col-xs-1.col-sm-1.col-md-1.col-lg-1
