extends ../includes/header

block content

  .container
    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1#settings.anchor.page-header= title
          a.anchorjs-link(href='#settings')
            span.anchorjs-icon
              i.fa.fa-link
          if user
            .btn-group.pull-right
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                = 'Manage '
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Create Tab' href='/settings/tab/create')
                    | Add Tab
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Create Category' href='/settings/category/create')
                    | Add Category
                li.divider
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Create Account' href='/settings/account/create')
                    | Add Account

        .container-fluid.adj
          .panel.panel-settings
            .panel-heading
              h2#adjustments.anchor.panel-title| Adjustments
                a.anchorjs-link(href='#adjustments')
                  span.anchorjs-icon
                    i.fa.fa-link
                .pull-right
                  a#adjReset.btn.btn-xs.btn-default(type='button' data-toggle='tooltip' data-placement='top' data-original-title='Reset Adjustments' style='margin-top: -2px;')
                    i.fa.fa-eraser
            .panel-body.container-fluid
              span= 'Range: '
              b#rangeFac.text-muted
              .row
                .col-md-6
                  | 1.0
                .col-md-6
                  .text-right
                    | 3.0
              input(type='range' min='1' max='3' step='0.01')

          if user
            .panel.panel-settings
              .panel-heading
                h3#tabs.anchor.panel-title= 'Tabs '
                  span= '('+ tabs.length +')'
                  a.anchorjs-link(href='#tabs')
                    span.anchorjs-icon
                      i.fa.fa-link
              .panel-body.container-fluid
                - var admintabs = 0
                each item in tabs
                  if item.check
                    - admintabs += 1
                .progress
                  .progress-bar(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= (tabs.length-admintabs)+' / '+tabs.length style='width:'+(tabs.length-admintabs)/tabs.length*100+'%;')
                    | Public
                  .progress-bar.progress-bar-warning(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= admintabs+' / '+tabs.length style='width:'+(admintabs)/tabs.length*100+'%;')
                    | Support
                each item, j in tabs
                  .btn-group(id= item._id data-item= j)
                    form(role='form' action='/settings/tab/details' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= item._id)
                      button.btn.btn-default(type='submit' data-toggle='tooltip' data-placement='top' data-original-title= item.category style='margin: 5px;')
                        if item.check
                          u= item.name
                        else
                          = item.name

            .panel.panel-settings
              .panel-heading
                h3#categories.anchor.panel-title= 'Categories '
                  span= '('+ cats.length +')'
                  a.anchorjs-link(href='#categories')
                    span.anchorjs-icon
                      i.fa.fa-link
              .panel-body.container-fluid
                .progress
                  - var unassigned = tabs.length - admintabs
                  - var odd = 0
                  each item, j in cats
                    - unassigned -= item.list.length
                    - odd += item.list.length != 0 ? 1 : 0
                    .progress-bar(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= item.list.length+' / '+tabs.length style='width:'+item.list.length/tabs.length*100+'%;' class= odd%2 == 0 ? 'progress-bar-info' : 'progress-bar-default')
                      = item.name
                  .progress-bar.progress-bar-warning(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= admintabs+' / '+tabs.length style='width:'+admintabs/tabs.length*100+'%;')
                    | Support
                  .progress-bar.progress-bar-danger(role='progressbar' data-toggle='tooltip' data-placement='top' data-original-title= unassigned+' / '+tabs.length style='width:'+unassigned/tabs.length*100+'%;')
                    | unassigned
                each item, j in cats
                  .btn-group(id= item._id data-item= j)
                    form(role='form' action='/settings/category/details' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= item._id)
                      button.btn.btn-default(type='submit' data-toggle='tooltip' data-placement='top' data-original-title= item.list.length+' / '+tabs.length style='margin: 5px;')
                        = item.name

            .panel.panel-settings
              .panel-heading
                h3#accounts.anchor.panel-title= 'Accounts '
                  span= '('+ accs.length +')'
                  a.anchorjs-link(href='#accounts')
                    span.anchorjs-icon
                      i.fa.fa-link
              .panel-body.container-fluid
                each item, j in accs
                  .btn-group(id= item._id data-item= j)
                    form(role='form' action='/settings/account/details' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= item._id)
                      button.btn.btn-default(type='submit' data-toggle='tooltip' data-placement='top' data-original-title= item.username style='margin: 5px;')
                        if item._id == user.id
                          u= item.username
                        else
                          = item.username

      .col-xs-1.col-sm-1.col-md-1.col-lg-1
