extends ../includes/header

block content

  .container
    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1#account_details.anchor.page-header= title
          a.anchorjs-link(href='#account_details')
            span.anchorjs-icon
              i.fa.fa-link
          .small.pull-right
            a.btn.btn-default(data-toggle='tooltip' data-placement='top' data-original-title='Create Account' href='/settings/account/create' style='margin: 0 5px 0 5px;')
              i.fa.fa-plus
              |  Add
            if user && user.id == acc._id
              .btn-group
                form(role='form' action='/settings/account/edit' method='post' enctype='multipart/form-data')
                  input(type='hidden' name='id' value= acc._id)
                  button.btn.btn-default(data-toggle='tooltip' data-placement='top' data-original-title='Update Account' type='submit' style='margin: 0 5px 0 5px;')
                    i.fa.fa-pencil
                    |  Edit
              .btn-group
                form(role='form' action='/settings/account/delete' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
                  input(type='hidden' name='id' value= acc._id)
                  button.btn.btn-default(data-toggle='tooltip' data-placement='top' data-original-title='Delete Account' type='submit' style='margin: 0 5px 0 5px;')
                    i.fa.fa-trash-o
                    |  Delete

        .panel.panel-default
          table.table.table-condensed.table-hover.table-striped
            thead
              tr
                th Label
                th Detail
            tbody
              tr
                td.text-nowrap Username
                td
                  strong= acc.username
              tr
                td.text-nowrap Who Created
                td
                  strong= acc.whoCreated
              tr
                td.text-nowrap When Created
                td= acc.whenCreated
              tr
                td.text-nowrap When Updated
                td= acc.whenUpdated
              tr
                td.text-nowrap Salt Key
                td.breakall= acc.salt
              tr
                td.text-nowrap Hash Key
                td.breakall= acc.hash
              tr
                td.text-nowrap Identifier
                td.breakall= acc._id
              tr
                td.text-nowrap Revision
                td= acc.__v

      .col-xs-1.col-sm-1.col-md-1.col-lg-1
