extends ../includes/header

block content

  .container
    include ../includes/message

    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1#account_details.anchor.page-header= title
          a.anchorjs-link(href='#account_details')
            span.anchorjs-icon
              i.fa.fa-link
          .btn-group.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
              = 'Manage '
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(title='Create Account' href='/settings/account/create')
                  i.fa.fa-plus
                  |  Add Account
              li
                a(title='Update Account' href='/settings/account/update')
                  i.fa.fa-pencil
                  |  Edit
              li.divider
              li
                a#submit.btn-delete-dtl(title='Delete Account' href='#')
                  i.fa.fa-trash-o
                  |  Delete

        .container-fluid
          form(role='form' action='/settings/account/delete' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
            input(type='hidden' name='id' value= user.id)
          table.table.table-condensed.table-hover.table-striped
            thead
              tr
                th Label
                th Detail
            tbody
              tr
                td.text-nowrap Username
                td
                  b= user.username
              tr
                td.text-nowrap Who Created
                td
                  b= user.whoCreated
              tr
                td.text-nowrap When Created
                td= user.whenCreated
              tr
                td.text-nowrap When Updated
                td= user.whenUpdated
              tr
                td.text-nowrap Salt Key
                td.breakall= user.salt
              tr
                td.text-nowrap Hash Key
                td.breakall= user.hash
              tr
                td.text-nowrap Identifier
                td.breakall= user.id
              tr
                td.text-nowrap Revision
                td= user.__v

      .col-xs-1.col-sm-1.col-md-1.col-lg-1
