extends ../includes/header

block content

  .container
    include ../includes/message

    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1.page-header= title
          button#submit.btn.btn-danger.pull-right.btn-delete-dtl(type='submit' title='Submit')
            i.fa.fa-trash-o
            |  Delete

        .container-fluid
          form(role='form' action='/settings/category/delete/confirm' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
            input(type='hidden' name='id' value= query.id)
          table.table.table-condensed.table-hover.table-striped
            thead
              tr
                th Label
                th Detail
            tbody
              tr
                td.text-nowrap Name
                td= query.name
              tr
                td.text-nowrap Tabs
                td= query.list.replace(new RegExp(',', 'g'), ', ')
              tr
                td.text-nowrap Identifier
                td= query.id
              tr
                td.text-nowrap Revision
                td= query.rev
          
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
