extends ../includes/header

block content

  .container
    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1#tab_details.anchor.page-header= title
          a.anchorjs-link(href='#tab_details')
            span.anchorjs-icon
              i.fa.fa-link
          .small.pull-right
            a.btn.btn-default(data-toggle='tooltip' data-placement='top' data-original-title='Create Tab' href='/settings/tab/create' style='margin: 0 5px 0 5px;')
              i.fa.fa-plus
              |  Add
            if user && user.username == tab.whoCreated
              .btn-group
                form(role='form' action='/settings/tab/edit' method='post' enctype='multipart/form-data')
                  input(type='hidden' name='id' value= tab._id)
                  button.btn.btn-default(data-toggle='tooltip' data-placement='top' data-original-title='Update Tab' type='submit' style='margin: 0 5px 0 5px;')
                    i.fa.fa-pencil
                    |  Edit
              .btn-group
                form(role='form' action='/settings/tab/delete' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
                  input(type='hidden' name='id' value= tab._id)
                  button.btn.btn-default(data-toggle='tooltip' data-placement='top' data-original-title='Delete Tab' type='submit' style='margin: 0 5px 0 5px;')
                    i.fa.fa-trash-o
                    |  Delete
        
        .panel.panel-default
          table.table.table-condensed.table-hover.table-striped
            thead
              tr
                th Label
                th Detail
            tbody
              tr
                td.text-nowrap Image
                td
                  a(href='../../../uploads/'+tab.image)
                    img.img-thumbnail(src='../../../uploads/'+tab.image width='250px')
              tr
                td.text-nowrap Name
                td
                  strong= tab.name
              tr
                td.text-nowrap Title
                td= tab.title
              tr
                td.text-nowrap Category
                td= tab.category
              tr
                td.text-nowrap Admin Tab
                td(class= tab.check ? 'text-success' : 'text-danger')
                  strong= tab.check
              tr
                td.text-nowrap Render Address
                td
                  a(href= tab.renderUrl)= tab.renderUrl
              tr
                td.text-nowrap Web Address
                td
                  a(href= tab.url)= tab.url
              tr
                td.text-nowrap Icon
                td
                  a(href= tab.icon)
                    img.img-thumbnail(src= tab.icon width='28px')
              tr
                td.text-nowrap Who Created
                td
                  strong= tab.whoCreated
              tr
                td.text-nowrap When Created
                td= tab.whenCreated
              tr
                td.text-nowrap Who Updated
                td
                  strong= tab.whoUpdated
              tr
                td.text-nowrap When Updated
                td= tab.whenUpdated
              tr
                td.text-nowrap Identifier
                td.breakall= tab._id
              tr
                td.text-nowrap Revision
                td= tab.__v

      .col-xs-1.col-sm-1.col-md-1.col-lg-1
