extends ../includes/header

block content

  .container
    include ../includes/message

    .row
      .col-xs-1.col-sm-1.col-md-1.col-lg-1
      .col-xs-10.col-sm-10.col-md-10.col-lg-10
        h1.page-header= title
          button#submit.btn.btn-danger.pull-right.btn-delete-dtl(type='submit' title='Submit')
            i.fa.fa-trash-o
            |  Delete
        
        .container-fluid
          form(role='form' action='/settings/tab/delete/confirm' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
            input(type='hidden' name='id' value= query.id)
          table.table.table-condensed.table-hover.table-striped
            thead
              tr
                th Label
                th Detail
            tbody
              tr
                td.text-nowrap Image
                td
                  a(href='../../../uploads/'+query.image)
                    img.img-thumbnail(src='../../../uploads/'+query.image width='250px')
              tr
                td.text-nowrap Name
                td= query.name
              tr
                td.text-nowrap Title
                td= query.title
              tr
                td.text-nowrap Category
                td= query.category
              tr
                td.text-nowrap Admin Tab
                td(class= query.check=='true' ? 'text-success' : 'text-danger')
                  b= query.check
              tr
                td.text-nowrap Render Address
                td
                  a(href= query.renderUrl)= query.renderUrl
              tr
                td.text-nowrap Web Address
                td
                  a(href= query.url)= query.url
              tr
                td.text-nowrap Icon
                td
                  a(href= query.icon)
                    img.img-thumbnail(src= query.icon width='28px')
              tr
                td.text-nowrap Who Created
                td= query.whoCreated
              tr
                td.text-nowrap When Created
                td= query.whenCreated
              tr
                td.text-nowrap Who Updated
                td= query.whoUpdated
              tr
                td.text-nowrap When Updated
                td= query.whenUpdated
              tr
                td.text-nowrap Identifier
                td.breakall= query.id
              tr
                td.text-nowrap Revision
                td= query.rev

      .col-xs-1.col-sm-1.col-md-1.col-lg-1
